.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%; /* Ajustado para ocupar el 80% de la pantalla */
    max-width: 400px; /* Máximo ancho de 400px */
    margin: 20% auto;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}
