/* Center all content */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Pacifico', cursive; /* Cambiar el tipo de letra */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffe4e1; /* Cambiar el color de fondo */
}

.container {
    text-align: center;
    margin: 20px; /* Añadir margen alrededor del contenedor */
}

/* Styles for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Optional: set a max width */
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff69b4; /* Añadir color de fondo a los botones */
    color: white; /* Color del texto de los botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
}

button:hover {
    background-color: #ff1493; /* Cambiar color al pasar el cursor */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
